<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- Azure Storage: mathitchep -->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mathitchep;AccountKey=/83SbGYSyr2LlaHoy7oHRZxtRNz7dqKB6XFUMTUTop3//bRuURwfHplmZL6qeVlvFRxxzOq8pFcJfyvU0AzqWA==" />
    <add key="SQLconnectionString" value="Server=tcp:mathit-chep-sql1.database.windows.net,1433;Initial Catalog=mathit-chep-sql1;Persist Security Info=False;User ID=joseantonio.jimenez@qosit.eu;Password=Janke_2015;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Authentication=Active Directory Password" />
  </appSettings>
</configuration>